@font-face {
  font-family: "Poppins";
  src: url("assets/Poppins-Regular.ttf");
}

html {
  background-color: black;
  overflow: hidden;
}

body {
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
}
